.section1 {
    width: 920px;
    height: 500px;
    position: relative;
    left: 300px;
    margin-bottom: 100px;
}

.w-100 {
    width: 920x;
    height: 500px;
}

.white {
    color: rgb(255, 255, 255);
}